<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.behemoth.repeat">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity android:name=".recents.markDetail.MarkDetailActivity"></activity>
        <activity android:name=".auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.KakaoLogin" />
        <activity android:name=".auth.NaverLogin" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/label_main_activity" />
        <activity
            android:name=".addBook.titleAndImage.AddTitleAndImageActivity"
            android:label="@string/label_add_title_image_activity" />
        <activity
            android:name=".addBook.SearchBook.SearchBookActivity"
            android:label="@string/label_search_book_activity" />
        <activity android:name=".addBook.crop.CropActivity" />
        <activity
            android:name=".addBook.chapter.AddChapterActivity"
            android:label="@string/label_add_chapter_activity" />
        <activity
            android:name=".addBook.problem.AddProblemActivity"
            android:label="@string/label_addproblem_activity" />
        <activity
            android:name=".mark.MarkActivity"
            android:label="@string/label_mark_activity" />
        <activity android:name=".mark.chapter.MarkChapterActivity" />
        <activity android:name=".mark.repeat.MarkRepeatActivity" />
        <activity
            android:name=".recents.RecentsActivity"
            android:label="@string/label_recents_activity" />
        <activity
            android:name=".mypage.MyPageActivity"
            android:label="@string/label_mypage_activity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>